#mvcMain {
  display: none;
}

#mvcIcon {
  display: block;
}

.shfDevelopmentBar {
  background-color: rgb(61,35,0);
  position: fixed;
  right: 0px;
  color: #ffffff;
  /*width: 500px;*/
  z-index: 2147483647;
  padding: 3px 3px 3px 5px;
  border-radius: 0px 0px 0px 5px;
  font-size: 0.8em;
  text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
  top: 0px;
}

.mvcPointer {
  cursor: pointer;
}
/*
body{
    background-image: url('../img/papel.jpg') ;
}*/


.panel-body {
  padding: 0px;
 
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

 

.panel-primary > .panel-heading {
  color: #fff;
  background-image: url('../img/header.png');
  border-color: #337ab7;
}


.logo {
    
    top:-2px;
    margin: 1px;
  
       
}

.navigation--main {

    background-image: url("../img/header.jpg");  
}

#menucito
{
    margin-right: 27px; 
    //margin-left: -100px;
    //width: 50%;
    top: 30px;
 
    
   
}

#panel {
 background-image: url("../..//web/css/homepage/images/panel.jpg");
}

#pane {
 background-image: url("../..//web/css/homepage/images/panel.jpg");
 
 
}

#mascara {
    margin-left: 190px;
}

#Menu {
    
    text-align: left;
    content: "\00BB \0020";
}

#SecMenu {
    text-align: center;
    margin-top: -75px;
}

#terMenu {
    text-align: right;
    margin-top: -75px;
}

#evento{
    float: left ;
   font-style: oblique;
   font-weight:bold;
   font-size:2em;
   
  font-family:'Book Antiqua','Verdana','Monaco',sans-serif;
}

#buton {
    color: #ffffff;
}

#sizeImg {
    width: 300px;
    
    
}

#proyecto {
  text-align: center
}

#boton {
  margin-right: -220px;
  margin-left: 250px;
}

#profileSize{
    
    margin-top: 32px;
    margin-left: -287px;
}

#colorLetra{
  
  color: #000000 ;
  font: oblique bold 150% cursive; 
  
}

#mostrarMapa{
    margin-top: 1cm; 
    width: 800px;
    height: 500px ;
    margin-left:279px;
    margin-right: -156px;
} 

