#mvcMain {
  display: none;
}

#mvcIcon {
  display: block;
}

.shfDevelopmentBar {
  background-color: rgb(61,35,0);
  position: fixed;
  right: 0px;
  color: #ffffff;
  /*width: 500px;*/
  z-index: 2147483647;
  padding: 3px 3px 3px 5px;
  border-radius: 0px 0px 0px 5px;
  font-size: 0.8em;
  text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
  top: 0px;
}

.mvcPointer {
  cursor: pointer;
}
/*
body{
    background-image: url('../img/papel.jpg') ;
}*/


.panel-body {
  padding: 0px;

}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}



.panel-primary > .panel-heading {
  color: #fff;
  background-image: url('../img/header.png');
  border-color: #337ab7;
}


.logo {

  top:-2px;
  margin: 1px;


}

.navigation--main {

  background-image: url("../img/header.jpg");  
}

#menucito
{
  margin-right: 27px; 
  //margin-left: -100px;
  //width: 50%;
  top: 30px;



}

#panel {
  background-image: url("../..//web/css/homepage/images/panel.jpg");
}

#pane {
  background-image: url("../..//web/css/homepage/images/panel.jpg");


}

#mascara {
  margin-left: 190px;
}

#Menu {

  text-align: left;
  content: "\00BB \0020";
}

#SecMenu {
  text-align: center;
  margin-top: -75px;
}

#terMenu {
  text-align: right;
  margin-top: -75px;
}

#evento{
  float: left ;
  font-style: oblique;
  font-weight:bold;
  font-size:2em;

  font-family:'Book Antiqua','Verdana','Monaco',sans-serif;
}

#buton {
  color: #ffffff;
}

#sizeImg {
  width: 300px;


}

#proyecto {
  text-align: center
}

#boton {
  margin-right: -220px;
  margin-left: 250px;
}

#profileSize{

  margin-top: 32px;
  margin-left: -287px;
  height:389px; 
}

#colorLetra{

  color: #000000 ;
  font: oblique bold 150% cursive; 

}

#mostrarMapa {
  margin-top: 1cm; 
  width: 800px;
  height: 500px ;
  margin-left:279px;
  margin-right: -156px;
} 
.hovergallery img {
  -webkit-transform:scale(0.8); 
  -moz-transform:scale(0.8); 
  -o-transform:scale(0.8); 
  -ms-transform:scale(0.8); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s; 
  -o-transition-duration: 0.5s; 
  -ms-transition-duration: 0.5s;
  opacity: 0.7; /*Nivel de opacidad de las imágenes*/
  margin: 0 10px 5px 0; /*Margen entre las imágenes*/
}

.hovergallery img:hover {
  -webkit-transform:scale(1.1); /*Webkit: Escala de aumento de la imagen 1.2x tamaño original*/
  -moz-transform:scale(1.1); 
  -o-transform:scale(1.1); 
  -ms-transform:scale(1.1); 
  box-shadow:0px 0px 30px gray; /*Sombra sobre toda la imagen*/
  -webkit-box-shadow:0px 0px 30px gray; 
  -moz-box-shadow:0px 0px 30px gray;
  -ms-box-shadow:0px 0px 30px gray; 
  opacity: 1;
}

#inicio {
  color: white;
}

#acerca {
  margin-left: 259px
}


#titleProfile{
  font: oblique bold 180% cursive; 
}

#modalProfile{
  padding: auto;
  padding-left: 10px;
}

#titleProfile2{
  padding-left: 106px;
  font-size: 20px;
  font-family: serif;

}

#imagenSlider2{
  width: 10px;
  height: 10px;

}

.myThumb {
  width: 180px;
}

.myThumbPos {
  width: 10px;
}

img.expando{
  margin:10px;
  vertical-align: top; 
}

#formuProyect{
  padding-top: 46px;
  padding: 31px;
}